@model ExpressBookerProject.Models.driver

@{
    ViewBag.Title = "Delete Driver";
}
@Html.Raw(TempData["Message"])
<h2>Delete Driver</h2>

<h3>Are You Sure You Want to Delete This Driver?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name, "Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.licensenumber, "License Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licensenumber)
        </dd>

        <dt>
            @Html.LabelFor(model => model.phone, "Phone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ViewDriver")
        </div>
    }
</div>
