@model ExpressBookerProject.Models.bus

@{
    ViewBag.Title = "Delete Bus";
}
@Html.Raw(TempData["Message"])
<h2>Delete Bus</h2>

<h3>Are You Sure You Want to Delete This Bus?</h3>
<div>
    <h4>Bus Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.busnumber, "Bus Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busnumber)
        </dd>

        <dt>
            @Html.LabelFor(model => model.capacity, "Capacity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.LabelFor(model => model.driver.name, "Driver Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver.name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ViewBus")
        </div>
    }
</div>
